@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #18181b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

* {
  @apply border-zinc-200;
}

body {
  @apply bg-background text-foreground;
}
